/* portfolio part start  */
#portfolio {
  padding: 100px 0;

  background-color: #30333a;
}
.portfolio_head h2 {
  font-size: 36px;
  font-weight: 600;
  font-family: "IBM Plex Serif", serif;
  color: #f9f9f9;
  padding-bottom: 36px;
}
.portfolio_main {
}
.portfolio_body {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.portfolio_body .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 400px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.portfolio_body:hover .overlay {
  backdrop-filter: blur(5px);
}
.portfolio_body .overlay:hover {
  padding-top: 150px;
}
.overlay h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #3d3e42;
  padding-bottom: 16px;
}
.overlay a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #3d3e42;
  padding: 8px 24px;
  border-radius: 14px;
  background-color: #ffc86b;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.overlay a i {
  padding-left: 6px;
}
/* portfolio part end */
